.row {
  display: flex;
  align-items: center;
  width: inherit;
  height: 70px;
  border-radius: 3px;
  background-color: #fff;

  font-family: Roboto, serif;
  font-size: 12px;
  font-weight: 400;
  color: #5C5C5C;

  & .name {
    font-size: 13px;
    font-weight: 500;
    color: #474747;
    width: 40%;
    padding-left: 10px;
  }

  & .type {
    width: 15%;
  }

  & .status {
    width: 15%;
  }

  & .site {
    width: 20%;
  }

  & .actionBtn {
    width: 95px;
    border-radius: 10px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 0 #00000026;
  }

  & + .row {
    margin-top: 5px;
  }
}