.row {
  display: flex;
  align-items: center;
  width: inherit;
  height: 70px;
  border-radius: 3px;
  background-color: #fff;

  font-family: Roboto, serif;
  font-size: 12px;
  font-weight: 400;
  color: #5C5C5C;

  & .name {
    font-size: 13px;
    font-weight: 500;
    color: #474747;
    width: 400px;
  }

  & .type {
    width: 100px;
  }

  & .status {
    width: 100px;
  }

  & .site {
    width: 250px;
  }

  & .actionBtn {
    width: 95px;
    border-radius: 10px;
  }
}